.frame {
    display: grid;
    min-height: 100dvh;
    max-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Base Custom Scrollbar Styles */
html {
    --scrollbar-thumb: var(--fore-main);
    --scrollbar-track: var(--app-main);
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 3px;
    border: 1px solid var(--scrollbar-track);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-main);
}

/* Apply to all elements */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 3px;
    border: 1px solid var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-main);
}

/* Custom Scrollbar Class Styles */
.cs-bar {
    --scrollbar-thumb: var(--fore-main);
    --scrollbar-track: var(--app-main);
}

.cs-bar-alt {
    --scrollbar-thumb: var(--app-main);
    --scrollbar-track: var(--fore-main);
}
